<?php
// die( __dir__ .   '/../../../config/autoload/{,*.}{global,local}.php');
define('ZF2_PATH', __dir__ .    '/../../../../vendor/ZF2/library');
return array(
    'modules' => array(
            'ZfcBase',
        'ZfcUser',
         'ZfModule',
          
        
    ),
     'config_glob_paths'    => array(
           __dir__ .   '/../../config/autoload/{,*.}{global,local}.php',
        ),
    'module_listener_options' => array(
        'module_paths' => array(
           __DIR__ . '/../../../../module',
            './vendor',
         
           
        ),
    ),
);